*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(53, 52, 52);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 150px;
}
.item{
margin-right: 10 px;
padding: 8px;
font-size: 18px;
cursor: pointer;
}
.item:hover{
    color: blue;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    border: 2px;
    color: white;
    background-image: url("images/background.png"),linear-gradient(45deg,#754848,#565151);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.des{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.but{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;

}
.but:hover{
    background-color: green;
    color: darkblue;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.about-us{
    color: saddlebrown;
    font-size: 50px;
    font-weight: bold;
}
.about-info{
    padding: 20px;
    margin: 20px;
}
.box{
    width: 250px;
    height: 300px;
    box-shadow: 10px 10px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 100px;

}
.box-but{
background-color: grey;
margin-top: 10px;
}
.box-title{
    padding: 10px;
    font-size: 18px;
}
.box-des{
    padding: 10px;
}
.about-title{
text-align: center;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: darkkhaki;
}